<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <link rel="stylesheet" href="../css/practice.css">
</head>
<body>
    <div>
      <h1>Les jeux Olympiques</h1>
      <p class="porange">
        Les jeux sont un evenement mondial celebrant l'unite, l'amitie et
        l'excellence sportive
      </p>
    </div>

    <div>
      <h2>Histoires des jeux Olympique</h2>
      <p class="Purple">
        Les jeux olypiques ont une longue histoire remontant a l'antiquite
        grecque, ils ont ete etablis en 1896 et se tiennent tous les quatres ans
      </p>
    </div>

    <div>
      <h2>Disciplines Sportives</h2>
      <p class="Purple">
        Les jeux comprennent une variété de disciplines sportivs passionantes
        telles que l'athletisme, la natation, le basketball, le cyclisme et bien
        d'autres.
      </p>
    </div>

    <div>
        <h2>Prochaine Olympiade</h2>
        <p>Les prochains jeux Olympique auront lieu en 2028 a Los Angeles. Soyez prêt a vivre l'excitation de le competition mondiale! </p>
    </div>

    <div>
        <h2 class="titlegrey">Pays hotes récent</h2>
        <ol>
            <li class="maju">Athènes,Grèce (2004)</li>
            <li>Pékin, Chine (2008)</li>
            <li class="maju">Londres, Royaume-Uni (2012)</li>
            <li>Rio de janeiro (2016)</li>
            <li>Tokyo, Japon (2020 - reporté à 2021)</li>
        </ol>
    </div>

    <div>
        <h2 class="noudl">Principaux sport Olympique</h2>
        <ul class="cent">
            <li class="blie maju">Athletisme</li>
            <li>Natation</li>
            <li>Football</li>
            <li>Basketball</li>
            <li class="blie ital">Gymnastique</li>
        </ul>
    </div>

    <p>Merci de célébrer l'esprit OLympique avec nous!</p>
  </body>
</html>